$primary: #42A5F5;
$white: #ffffff;
$primary-text: #121212;
$secondary-text: #dbdbdb;
$body-bg: #fafafa;

@mixin d-flex {
  display: flex;
}

@mixin d-flex-col {
  flex-direction: column;
}

@mixin d-flex-center {
  justify-content: center;
  align-items: center;
}

@mixin d-flex-v-center {
  align-items: center;
}

@mixin d-flex-h-center {
  justify-content: center;
}

@mixin d-flex-between {
  justify-content: space-between;
}

@mixin fluid {
  width: 100%;
  height: 100%;
}

@mixin flex-grow {
  flex-grow: 1;
}

@mixin drop-shadow {
  box-shadow: 2px 4px 12px 1px rgba(142, 128, 239, 0.3);
}

.bg-red {
  background-color: darken(red, 10);
}

.bg-yellow {
  background-color: darken(yellow, 10);
}

.bg-green {
  background-color: darken(green, 10);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

html, body, .site-wrapper {
  @include fluid();
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
}

.site-wrapper {
  @include d-flex();
  @include fluid();
  background-color: $body-bg;
}

.d-flex {
  @include d-flex();
}

.align-items-center {
  @include d-flex-v-center();
}

.container {
  padding: 2px 16px;
}

.bottom {
  position: absolute;
  bottom: 0;
}


.flex-col {
  @include d-flex-col();
}

.bg-blue {
  background-color: $primary;
}

.sidebar {
  //@include flex-grow();
  background-color: $white;
  width: 300px;
  height: 100%;
  padding: 0;
  border-right: 1px solid #eee;
  transition: all .4s ease-in-out;

  header {
    padding: 2em 0;
    font-family: "Source Sans Pro Black", sans-serif;
    transition: all .4s ease-in-out;

    a {
      font-size: 20pt;
      color: $primary;
      @include d-flex();
      @include d-flex-center();
      @media screen and (max-width: 768px) {
        padding: 0 1em 1em 0;
        font-size: 10pt;
      }
    }
  }

  .menu {
    color: #BDBDBD;
    font-family: "Source Sans Pro SemiBold", sans-serif;

    .menu-item {
      display: block;
      padding: .5em 2em;
      transition: all .4s ease-in-out;

      &:hover,
      &.active {
        color: #333;
      }

      @media screen and (max-width: 768px) {
        padding: 1em;
        @include d-flex-h-center();
      }
    }
  }

  .menu-icon {
    width: 30px;
    text-align: center;
  }

  .menu-label {
    padding-left: 10px;
    transition: all .1s ease-in-out;
    @media screen and (max-width: 768px) {
      visibility: hidden;
      opacity: 0;
      position: absolute;
    }
  }

  @media screen and (max-width: 768px) {
    max-width: 70px;
  }
}

.main-wrapper {
  @include flex-grow();
  @include d-flex();
  @include d-flex-col();
  height: 100%;
}

.site-header {
  @include flex-grow();
  @include d-flex();
  @include d-flex-v-center();
  @include d-flex-between();
  max-height: 120px;
  border-bottom: 1px solid #eeeeee;
  background-color: $primary;

  .text-header {
    font-family: "Source Sans Pro Black", sans-serif;
    color: white;
    font-size: 20pt;
    @include d-flex-center();
    @include flex-grow();
    @include d-flex();
    padding: 2em;
    @media screen and (max-width: 768px) {
      font-size: 10pt;
      padding: 1em;
    }
  }

  .notif {
    padding: 1.5em;
    border-left: 1px solid $primary;
    border-right: 1px solid $primary;
    color: $white;
  }

  .search-bar {
    padding: 0 1em;
    @include flex-grow();
    @include d-flex();
    @include d-flex-v-center();
    color: white;

    input {
      border: 0;
      padding: 5px;
      background-color: lighten($primary, 20);
      color: $secondary-text;
      font-family: inherit;
      outline: none;
      @include flex-grow();
      margin-left: 10px;
      border-radius: 5px;

      &::-webkit-input-placeholder {
        color: lighten($white, 20);
      }

      @media screen and (max-width: 768px) {
        visibility: hidden;
        opacity: 0;
      }
    }
  }
}

.card {
  padding: 20px;
  margin-left: 30px;
  width: 25%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;

  img {
    width: 100%;
  }

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .card-title {
    color: $white;
    padding: 2.5%;
    border-radius: 5px;

    h2 {
      text-align: center;
      align-items: center;
    }
  }

  .sub-title {
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 15pt;
    font-family: "Source Sans Pro", sans-serif;
  }

  .sub-time {
    margin: 0;
    font-size: 12pt;
    font-family: "Source Sans Pro", sans-serif;
  }

  .sub-place {
    margin: 0;
    font-size: 10pt;
    font-family: "Source Sans Pro", sans-serif;
  }

  .teacher {
    color: #BDBDBD;
    margin-bottom: 0;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 10pt;
  }

  .sub-teacher {
    margin: 0;
    font-size: 11pt;
    font-family: "Source Sans Pro", sans-serif;
  }

  .btn-detail {
    margin-top: 20px;
    color: $white;
    padding: 2.5%;
    border-radius: 5px;
    width: 100%;
  }
}
